@import "bourbon";
@import "neat";

html {
	height:100%;
	body {
		background-color:gray;
		height:100%;
		margin:0;
		#container {
			 height:100%;
		}
	}
}

#toolbar {
	@include outer-container;
	.spacer {
		@include span-columns(2);
	}
	button {
		@include span-columns(3);
		border: 0 none;
 		border-radius: 2px 2px 2px 2px;
  		color: #FFFFFF;
  		cursor: pointer;
  		font-family: Arial,sans-serif;
  		font-size: 12px;
  		font-weight: bold;
  		line-height: 20px;
  		margin-bottom: 0;
  		margin-top: 10px;
  		padding: 7px 10px;
  		text-transform: none;
  		transition: all 0.3s ease 0s;
  		-moz-transition: all 0.3s ease 0s;
  		-webkit-transition: all 0.3s ease 0s;
  		background: none repeat scroll 0 0 #444444;
    	color: white;
	}
	button:hover {
		background: none repeat scroll 0 0 #2DB6CF;
		color:white;
	}
}

#main {
	height:80%;
	font-family: 'Open Sans', sans-serif;
	@include outer-container;

	.section { 
		height:100%;
		@include span-columns(4); 
		.header {
			font-weight:bold;
			font-size:2em;
			text-align:center;
		}
		.content {
			height:100%;
			iframe {
				width:100%;
				height:100%;
			}
			textarea {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				resize: none;
				overflow-x: scroll;
				overflow-y: scroll;
				width:100%;
				height:80%;
				color:white;
				background-color:black;
				border:none;
			}
		}
	}
}